body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: white;
  line-height: 1.5;
  
}
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border: 2px solid black;
}
header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
nav ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
nav li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
nav a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
main {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}
section li {
  margin: 15px 0px 0px 20px;
}

